absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.9.0
astunparse==1.6.3
attrs==24.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
branca==0.8.1
cabarchive==0.2.4
cachetools==5.5.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cx_Freeze==8.3.0
cx_Logging==3.2.1
cycler==0.12.1
distlib==0.3.9
et_xmlfile==2.0.0
fastapi==0.115.12
filelock==3.18.0
Flask==3.0.3
Flask-Cors==6.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.21
folium==0.19.4
fonttools==4.54.1
frozenlist==1.5.0
gast==0.6.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.66.0
greenlet==3.2.3
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h5py==3.12.1
httplib2==0.22.0
idna==3.10
instaloader==4.13.1
itsdangerous==2.2.0
Jinja2==3.1.4
keras==3.8.0
kiwisolver==1.4.7
libclang==18.1.1
lief==0.16.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
multidict==6.1.0
mysqlclient==2.2.7
namex==0.0.8
numpy==2.1.2
opencage==3.0.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
phonenumbers==8.13.48
pillow==11.0.0
pipenv==2025.0.2
platformdirs==4.3.8
propcache==0.2.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyMsgBox==1.0.9
pyparsing==3.2.0
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2024.2
pywhatkit==5.4
qrcode==8.2
requests==2.32.3
rich==13.9.4
rsa==4.9
seaborn==0.13.2
selenium==4.28.0
setuptools==75.8.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.41
starlette==0.46.2
striprtf==0.0.29
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
tqdm==4.66.6
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
uv==0.6.5
uvicorn==0.34.3
virtualenv==20.31.2
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.4
wheel==0.45.1
wikipedia==1.4.0
wrapt==1.17.2
wsproto==1.2.0
xyzservices==2025.1.0
yarl==1.17.1
